# Core Dash dependencies
dash==2.14.1
dash-bootstrap-components==1.5.0
plotly==5.17.0

# Data processing
pandas==2.1.4
numpy==1.24.3
openpyxl==3.1.2  # Pour la prise en charge des fichiers Excel (.xlsx)
xlrd==2.0.1  # Pour la prise en charge des anciens fichiers Excel (.xls)

# Analysis libraries
scipy==1.11.4
lifelines==0.27.7

# Web server for Heroku
gunicorn==21.2.0
